.header {
  width: calc(100%);
  height: auto;
  background-color: #2074dc;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  display: block;
  text-align: center;
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}
.tabs li {
  width: calc(100% / 2);
  height: 50px;
  background-color: #2074dc;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tabs li.active {
  width: calc(100% / 2);
  height: 50px;
  background-color: #ffffff;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #2074dc;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
