input {
    position: relative;
    left: 500px;
    top: 100px;
    width: 500px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}

button {
    position: relative;
    left: 600px;
    top: 100px;
    width: 100px;
    border-radius: 15px;
    outline: none;
}

#image_upload {
    position: relative;
    left: -110px;
    top: 200px;
    width: 100px;
    border-radius: 15px;
    outline: none;
}

#camera {
    position: relative;
    left: -10px;
    top: 200px;
    width: 100px;
    border-radius: 15px;
    outline: none;
}