.uploader-wrapper {
    position: relative;
    left: 500px;
    top: 100px;
    width: 500px;
    height: 150px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    .img-wrapper {
        margin: 50px 0 20px 0;
        img {
            width: 490px;
            height: 150px;
        }
        .img-spinner {
            width: 200px;
            height: 200px;
        }
    }
    .upload-button {
        button {
            margin: 0 5px;
        }
    }
}