.tabs li {
  width: 80%;
  height: auto;
  background-color: #758496;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  display: block;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  margin-left: 10%;
  margin-top: 1%;
  border-radius: 15px;
}
